.page {
  .home {
    width: 100%;

    main {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        cursor: pointer;
        padding: 10px 35px;
        background-color: var(--active-c);
        color: var(--white);
        border-radius: 8px;
        font-size: 20px;
      }
    }
  }
}