.settings {
  &__box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--white);
    border-radius: 6px;
  }


  input {
    padding: 12px 12px 6px;
    border: 1px solid var(--border);
    border-radius: 12px;
    font-size: 18px;
    color: var(--second-c);
  }

  &__row {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  label {
    align-self: center;
  }

  h1 {
    margin: 0 0 20px;
    font-size: 36px;
    line-height: 36px;
  }

  &__btn {
    cursor: pointer;
    padding: 10px 35px;
    background-color: var(--active-c);
    color: var(--white);
    border-radius: 8px;
    font-size: 16px;

    &:disabled {
      cursor: not-allowed;
      background-color: rgba(var(--active-rgba-c), 0.6);
    }
  }
}