.header {
  position: fixed;
  background: var(--white);
  width: 100%;
  border-bottom: 1px solid #C6C9CC;
  z-index: 20;

  &__box {
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 500;
    text-transform: uppercase;
  }

  &__ul {
    display: flex;
    gap: 20px;
  }

  &__li {
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
